<!DOCTYPE html>
<html>
  <head>
    <title>DocCheapoz</title>
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <base href="/" />
  </head>
  <body>

    <h1><a href="/">DocCheapoz</a></h1>


    <!-- <nav>
      {{#if user}}
      <img src="{{user.t_photo_url}}" alt="{{user.name}}" />
      Welcome, {{user.name}}!
      <a href="/logout">Sign out</a>
      {{else}}
      <a href="/login/twitter">Sign in</a>
      {{/if}}
    </nav> -->
    {{{body}}}
  </body>
</html>
